<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= name %></title>
	</head>
	<body>
		<!-- headings from locals object -->
		<h1><%= name %></h1>
		<h2><%= address %></h2>

		<!-- dynamic message based on isOpen boolean -->
		<% if (isOpen) { %>
		<p>Yes, we're open! Call us at <%= phone %>!</p>
		<% } else { %>
		<p>Sorry, we're closed. Leave us a message at <%= phone %>!</p>
		<% } %>
	</body>
</html>
